
.nosotros-banner {
    background-image: url(https://img.freepik.com/fotos-premium/marco-cuadrado-marco-imagen-neon-blanco-vacio-fondo-bonito-telon-fondo_715671-3138.jpg);
    height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
 }
